body {
	font-family: "Verdana";
	background-color: #f1f1f1;
	margin: 0;
}

img {
	max-width: 100%;
}

h1 {
	position: absolute;
	color: white; 
	left: 5%; 
	z-index: 2;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #238b45;
	z-index: 10;
	position: relative;
}

li.nav {
	float: left;
}

li a.nav {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
}

li a.navactive {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
}

li a.nav:hover:not(.navactive) {
	background-color: #41ae76;
}

li.plane {
	background-image:url('img/airplane.svg');
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	position: absolute;
	right: 50px;
	top: 2px;
}

li.tree {
	background-image:url('img/tree.svg');
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	position: absolute;
	right: 5px;
	top: 2px;
}

.box1 {
	height: 600px;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #238b45;
	padding: 12px;
}



.box4 {
	height: 600px;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #238b45;
	padding: 12px;
}

div.content {
	padding: 12px;
}


/*d3 svg map design*/

#svgmap {
	position: absolute;
	top: 9.5%;
	left: 0px;
}

.box1 .box4 {position:relative;}


.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #639eff;
}

.graticule {
  fill: none;
  stroke: #9ec2ff;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #036b25;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.statmap {
	stroke: #fff;
	stroke-width: .5px;
	fill: #036b25;
}

/* not used, but possible markers*/
.svgmap circle {
    fill: none;
    stroke: orange;
    stroke-width: 0.1;
    stroke-opacity: 0.5;
    pointer-events: none;
}


/*Box1 design*/
#originform {
	position: absolute;
	top: 140px;
	left: 50px;
	z-index: 100;
	
}

#destform {
	position: absolute;
	top: 200px;
	left: 50px;
	z-index: 100;
	
}

/*Little bit responsive*/
@media (max-width: 680px) {
	h1 {
		color: black;
		margin: 5px;
	}
	#originform {
		top: 110px;
		left: 30px;
	}
	#destform {
		top: 135px;
		left: 30px;		
	}
	
	
}


#resultde, #resultor {
	position: relative;
	top: 6px;
	left: 0;
	font-size: 12px;
	overflow-y: scroll;
    max-height: 100px;
    background-color: white; 
    display: none; 
}

#emissionButton {
	position: absolute;
	top: 900px;
	left: 30px;

}

#compareButton{
	position: absolute;
	top: 925px;
	left: 30px;


}

#planeLine {
	height: 700px;
}


	
	
.infolabel {
	position: absolute;
	top: 1100px;
	left: 30px;
	width: 225px;
	height: 75px;
	color: rgb(217, 5, 4);
	border: solid thin #fff;
	padding: 5px;
	font-weight: bold;
	background-color: #bfbfbf;
}



.infolabel h3{1
	display: inline-block;
	font-size: 0.5em;
	position: absolute;
	top: -10px;
	font-weight: bold;
	font-size: 1em;
	top: -0.2em;
}

.labelvalue h2{
	display: inline-block;
	font-size: 1em;
	position: absolute;
	float:left;
	left: 1em;
	top:1em;
	color: #808080;
	
.circle {
    fill: none;
    stroke: #bbbbbb;
    stroke-width: 0.01;
    stroke-opacity: 0.5;
}


.plane {
	background-image:url('img/airplane.svg');
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	position: absolute;
	right: 50px;
	top: 2px;
}




